@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply overflow-x-hidden scroll-auto h-full;
  }

  body {
    @apply overflow-x-hidden min-h-screen;
  }

  h1 {
    @apply font-bold text-5xl text-orange_color;
  }

  h3 {
    @apply font-bold text-4xl text-orange_color;
  }


  article{
    @apply py-8
  }

  article h1{
    @apply text-black text-2xl text-current my-4
  }

 article h2, article h3{
    @apply text-black text-xl text-current my-4 font-semibold
  }


  article p{
    @apply my-4 text-lg leading-8 font-light
  }

  article pre{
    @apply  text-blue_color bg-black p-4 rounded-md overflow-x-auto whitespace-pre-wrap
  }

  article li{
    @apply list-disc
  }
}

@layer components {
  .gradient-color {
    background: #FF6000;
  }

  .text-color {
    background: -webkit-linear-gradient(
      92.48deg,
      #d80027 2.08%,
      #fb9e3c 117.25%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .default-width {
    width: 1400px;
    max-width: 100%;
    text-align: center;
  }

  .nav-shadow {
    box-shadow: -1px 0px 7px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 0px 7px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 7px 0px rgba(0, 0, 0, 0.75);
  }

  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }



}
