@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply overflow-x-hidden scroll-auto h-full;
  }

  body {
    @apply overflow-x-hidden min-h-screen;
  }

  h1 {
    @apply font-bold text-5xl text-orange_color;
  }

  h3 {
    @apply font-bold text-4xl text-orange_color;
  }

  article {
    @apply py-8;
  }

  article h1 {
    @apply text-black text-3xl text-current my-4;
  }

  article h2 {
    @apply text-black text-2xl text-current mt-20 mb-4 font-semibold;
  }

  article h3 {
    @apply text-black text-2xl text-current mt-12 mb-4 font-semibold;
  }

  article p {
    @apply my-4 text-lg leading-8 font-light;
  }

  article li {
    @apply list-disc;
  }

  article a {
    @apply text-blue_color font-medium;
  }

  pre {
    @apply rounded bg-gray-100;
  }
}

@layer components {
  .gradient-color {
    background: #ff6000;
  }

  .text-color {
    background: -webkit-linear-gradient(
      92.48deg,
      #d80027 2.08%,
      #fb9e3c 117.25%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .default-width {
    width: 1400px;
    max-width: 100%;
    text-align: center;
  }

  .nav-shadow {
    box-shadow: -1px 0px 7px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 0px 7px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 7px 0px rgba(0, 0, 0, 0.75);
  }

  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  article table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
  }
  article th,
  article td {
    border: 1px solid #000;
    padding: 5px 8px;
    text-align: left;
  }

  article b {
    font-weight: 600;
  }
  article table p {
    margin: 5px 0;
  }
}
